.bg {
  z-index: -900;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%); }

.stars {
  position: fixed;
  top: -1000px;
  left: 0px;
  width: 200%;
  height: 150%;
  transform: rotate(-45deg); }

.star {
  --star-color:#fff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, #fff, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px #fff);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .star:nth-child(1) {
    --star-tail-length: 5.68em;
    --top-offset: 80.38vh;
    --fall-duration: 7.829s;
    --fall-delay: 3.979s; }
  .star:nth-child(2) {
    --star-tail-length: 7.32em;
    --top-offset: 71.58vh;
    --fall-duration: 10.665s;
    --fall-delay: 4.899s; }
  .star:nth-child(3) {
    --star-tail-length: 5.97em;
    --top-offset: 12.93vh;
    --fall-duration: 8.909s;
    --fall-delay: 5.956s; }
  .star:nth-child(4) {
    --star-tail-length: 6.98em;
    --top-offset: 33.63vh;
    --fall-duration: 11.263s;
    --fall-delay: 6.492s; }
  .star:nth-child(5) {
    --star-tail-length: 6.65em;
    --top-offset: 60.83vh;
    --fall-duration: 11.085s;
    --fall-delay: 4.863s; }
  .star:nth-child(6) {
    --star-tail-length: 5.36em;
    --top-offset: 12.21vh;
    --fall-duration: 7.773s;
    --fall-delay: 1.066s; }
  .star:nth-child(7) {
    --star-tail-length: 6.86em;
    --top-offset: 14.71vh;
    --fall-duration: 11.138s;
    --fall-delay: 2.223s; }
  .star:nth-child(8) {
    --star-tail-length: 6.06em;
    --top-offset: 61.86vh;
    --fall-duration: 9.321s;
    --fall-delay: 3.9s; }
  .star:nth-child(9) {
    --star-tail-length: 5.24em;
    --top-offset: 68.4vh;
    --fall-duration: 8.39s;
    --fall-delay: 2.097s; }
  .star:nth-child(10) {
    --star-tail-length: 5.74em;
    --top-offset: 92.55vh;
    --fall-duration: 10.488s;
    --fall-delay: 4.618s; }
  .star:nth-child(11) {
    --star-tail-length: 7.29em;
    --top-offset: 90.31vh;
    --fall-duration: 9.781s;
    --fall-delay: 9.31s; }
  .star:nth-child(12) {
    --star-tail-length: 5.03em;
    --top-offset: 7.31vh;
    --fall-duration: 6.365s;
    --fall-delay: 1.128s; }
  .star:nth-child(13) {
    --star-tail-length: 5.49em;
    --top-offset: 47.88vh;
    --fall-duration: 10.646s;
    --fall-delay: 3.705s; }
  .star:nth-child(14) {
    --star-tail-length: 6.74em;
    --top-offset: 72.35vh;
    --fall-duration: 8.629s;
    --fall-delay: 9.71s; }
  .star:nth-child(15) {
    --star-tail-length: 7.35em;
    --top-offset: 94.79vh;
    --fall-duration: 11.065s;
    --fall-delay: 7.691s; }
  .star:nth-child(16) {
    --star-tail-length: 6.26em;
    --top-offset: 51.92vh;
    --fall-duration: 9.735s;
    --fall-delay: 8.458s; }
  .star:nth-child(17) {
    --star-tail-length: 6.4em;
    --top-offset: 13.75vh;
    --fall-duration: 10.04s;
    --fall-delay: 3.188s; }
  .star:nth-child(18) {
    --star-tail-length: 7.18em;
    --top-offset: 14.95vh;
    --fall-duration: 7.55s;
    --fall-delay: 1.916s; }
  .star:nth-child(19) {
    --star-tail-length: 6.49em;
    --top-offset: 28.96vh;
    --fall-duration: 6.3s;
    --fall-delay: 5.737s; }
  .star:nth-child(20) {
    --star-tail-length: 6.82em;
    --top-offset: 43.81vh;
    --fall-duration: 9.963s;
    --fall-delay: 8.152s; }
  .star:nth-child(21) {
    --star-tail-length: 6.42em;
    --top-offset: 68.23vh;
    --fall-duration: 6.799s;
    --fall-delay: 0.248s; }
  .star:nth-child(22) {
    --star-tail-length: 5.49em;
    --top-offset: 55.56vh;
    --fall-duration: 6.185s;
    --fall-delay: 4.063s; }
  .star:nth-child(23) {
    --star-tail-length: 5.53em;
    --top-offset: 92.88vh;
    --fall-duration: 7.911s;
    --fall-delay: 6.244s; }
  .star:nth-child(24) {
    --star-tail-length: 6.29em;
    --top-offset: 32.06vh;
    --fall-duration: 11.374s;
    --fall-delay: 7.415s; }
  .star:nth-child(25) {
    --star-tail-length: 5.16em;
    --top-offset: 55.47vh;
    --fall-duration: 6.106s;
    --fall-delay: 8.241s; }
  .star:nth-child(26) {
    --star-tail-length: 7.2em;
    --top-offset: 58.26vh;
    --fall-duration: 6.247s;
    --fall-delay: 4.371s; }
  .star:nth-child(27) {
    --star-tail-length: 6.32em;
    --top-offset: 28.95vh;
    --fall-duration: 7.428s;
    --fall-delay: 9.933s; }
  .star:nth-child(28) {
    --star-tail-length: 5.1em;
    --top-offset: 6.5vh;
    --fall-duration: 11.243s;
    --fall-delay: 7.348s; }
  .star:nth-child(29) {
    --star-tail-length: 6.73em;
    --top-offset: 33.02vh;
    --fall-duration: 8.669s;
    --fall-delay: 3.499s; }
  .star:nth-child(30) {
    --star-tail-length: 5.16em;
    --top-offset: 56.48vh;
    --fall-duration: 8.675s;
    --fall-delay: 6.859s; }
  .star:nth-child(31) {
    --star-tail-length: 7.3em;
    --top-offset: 13.79vh;
    --fall-duration: 7.184s;
    --fall-delay: 9.498s; }
  .star:nth-child(32) {
    --star-tail-length: 6.26em;
    --top-offset: 10.06vh;
    --fall-duration: 11.543s;
    --fall-delay: 6.397s; }
  .star:nth-child(33) {
    --star-tail-length: 6.94em;
    --top-offset: 54.59vh;
    --fall-duration: 9.438s;
    --fall-delay: 6.421s; }
  .star:nth-child(34) {
    --star-tail-length: 5.37em;
    --top-offset: 23.9vh;
    --fall-duration: 11.543s;
    --fall-delay: 4.831s; }
  .star:nth-child(35) {
    --star-tail-length: 6.61em;
    --top-offset: 85.5vh;
    --fall-duration: 7.709s;
    --fall-delay: 7.754s; }
  .star:nth-child(36) {
    --star-tail-length: 7.27em;
    --top-offset: 83.33vh;
    --fall-duration: 11.309s;
    --fall-delay: 3.952s; }
  .star:nth-child(37) {
    --star-tail-length: 5.46em;
    --top-offset: 26.93vh;
    --fall-duration: 6.976s;
    --fall-delay: 4.366s; }
  .star:nth-child(38) {
    --star-tail-length: 7.03em;
    --top-offset: 67.35vh;
    --fall-duration: 9.515s;
    --fall-delay: 9.93s; }
  .star:nth-child(39) {
    --star-tail-length: 5.51em;
    --top-offset: 43.96vh;
    --fall-duration: 7.997s;
    --fall-delay: 7.646s; }
  .star:nth-child(40) {
    --star-tail-length: 6.86em;
    --top-offset: 1.82vh;
    --fall-duration: 7.799s;
    --fall-delay: 0.69s; }
  .star:nth-child(41) {
    --star-tail-length: 6.81em;
    --top-offset: 29.07vh;
    --fall-duration: 11.237s;
    --fall-delay: 5.699s; }
  .star:nth-child(42) {
    --star-tail-length: 5.43em;
    --top-offset: 41.64vh;
    --fall-duration: 8.509s;
    --fall-delay: 9.394s; }
  .star:nth-child(43) {
    --star-tail-length: 6.55em;
    --top-offset: 84.55vh;
    --fall-duration: 10.933s;
    --fall-delay: 2.193s; }
  .star:nth-child(44) {
    --star-tail-length: 5.13em;
    --top-offset: 1.14vh;
    --fall-duration: 10.177s;
    --fall-delay: 2.021s; }
  .star:nth-child(45) {
    --star-tail-length: 6.11em;
    --top-offset: 49.75vh;
    --fall-duration: 10.376s;
    --fall-delay: 6.86s; }
  .star:nth-child(46) {
    --star-tail-length: 5.06em;
    --top-offset: 10.64vh;
    --fall-duration: 10.907s;
    --fall-delay: 2.421s; }
  .star:nth-child(47) {
    --star-tail-length: 6.71em;
    --top-offset: 65.53vh;
    --fall-duration: 8.206s;
    --fall-delay: 6.394s; }
  .star:nth-child(48) {
    --star-tail-length: 5.62em;
    --top-offset: 56.14vh;
    --fall-duration: 8.401s;
    --fall-delay: 6.992s; }
  .star:nth-child(49) {
    --star-tail-length: 6.44em;
    --top-offset: 48.17vh;
    --fall-duration: 9.294s;
    --fall-delay: 1.695s; }
  .star:nth-child(50) {
    --star-tail-length: 7.5em;
    --top-offset: 93.59vh;
    --fall-duration: 11.986s;
    --fall-delay: 3.889s; }
  .star::before, .star::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .star::before {
    transform: rotate(45deg); }
  .star::after {
    transform: rotate(-45deg); }

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%, 80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }
@keyframes blink {
  50% {
    opacity: 0.6; } }

/*# sourceMappingURL=bg.css.map */
