.content{
    display: none;
}

.row{
    width: 75%;
    margin: 3em auto 2em;
}

.row h1{
    color: white;
}

h2{
    color: white;
}


h3{
    color: lightgray;
}


.element h2{
    color: black;
}

.row div{
    padding: 20px 20px;
}

.element{
    font-size: large;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

.element p{
    padding: 10px;
}

#content object{
    width: 100%;
}

.neutre{
    text-align: left;
    font-size: 20px;
}