div{
    display: block;
    align-items: center;
}

.row{
    width: 100%;
    display: flex;
    align-items: center;
}

img{
    margin: 20px;
    width: 500px;
}
.container {
    margin: 50px;
    align-items: center;
}

.elt{
    margin: 50px;
    display: flex;

    align-items: center;
}