<link href="css/content.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/bg.css" rel="stylesheet">
    <link href="css/nav.css" rel="stylesheet">
    <link href="css/dropdown.css" rel="stylesheet">
    <link href="css/content.css" rel="stylesheet">
<div class="row">
  <h1>Projet ZZ1 : Exercice pavé de serpents</h1>
</div>
<div class="row">
  <div>
      <div class="element">
          <h2>Julien</h2>
          <img src="../ressources/J_Serpents.gif" alt="J_Serpents" width="100%">
          <p>Le clic gauche permet de faire apparaitre des quarts de cercle avec un dégradé de couleur.</p>
          <br />
      </div>
  </div>
  <div>
      <div class="element">
          <h2>Louis</h2>
          <img src="../ressources/L_Serpents.gif" alt="L_Serpents" width="100%%">
          <p>Un drapeau français fait avec 3 SDL_Rect changent de taille et se déplace sur l'écran. Les clics
              gauche et droit permettent de mofidier l'axe du déplacement.</p>
          <br />
      </div>
  </div>
  <div>
      <div class="element">
          <h2>Hugo</h2>
          <img src="../ressources/H_Serpents.gif" alt="H_Serpents" width="100%%">
          <p>Un cercle se déplace sur l'écran en rebondissant sur les bords.</p>
          <br/>
      </div>
  </div>
</div>